<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">



<div class="main-content">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">ESchool</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
  
  
      <li class="nav-item">
        <a  class="nav-link" href="#">Logout</a>
      </li>
  
    </ul>
  </div>
</nav>

<br>

<div class="container bootstrap snippets bootdey" id="main-container">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                <th><span>Student</span></th>
                                <th><span>Grade</span></th>
                                <th><span>Email</span></th>
                                <th><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addStudentModal" (click)="onOpenModal(null, 'add')">
                                  Add a student
                                </button></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let student of students">
                                    <td>
                                        <img src="https://cdn-icons-png.flaticon.com/512/1250/1250689.png" alt="">
                                        <a href="#" class="user-link">{{student?.name}}</a>
                                        
                                    </td>
                                    <td>{{student?.grade}}</td>
                                    
                                    <td>
                                        <a href="#">{{student?.email}}</a>
                                    </td>
                                    <td style="width: 20%;">
                                      <button  type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteStudentModal" (click)="onOpenModal(student, 'delete')">
                                        Delete
                                      </button>
                                    </td>
                                </tr>
                                
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddStudent(addForm)">
          <div class="form-group">
            <label for="name">Full Name</label>
            <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Full Name" required>
          </div>

          <div class="form-group">
            <label for="name">Email</label>
            <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
          </div>

          <div class="form-group">
            <label for="name">Grade</label>
            <input type="number" ngModel name="grade" class="form-control" id="grade" placeholder="Grade" required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-student-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Add</button>
          </div>

        </form>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="deleteStudentModal" tabindex="-1" role="dialog" aria-labelledby="deleteStudentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete a student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Confirm deleting a student</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="onDeleteStudent(deleteStudent!.id)" type="button" class="btn btn-primary" data-dismiss="modal" >Confirm</button>
      </div>
    </div>
  </div>
</div>